body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}
.header-top {
	color: #ffffff;

	background-color:#293449;
}
.header-logo {
	color:#ffffff;
	width: 220px;
	height: 47px;
	background-color:  #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

	text-align: center;
}
.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}
.header-logo:active {
  background-color: #ba2732;
}
.header-search input {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #ffffff;

  background-color:#293449;
}
.header-buy,
.site-navigation-list,
.categories-navigation,
.producers-catalog,
.service-list,
.footer-navigation-list,
.footer-navigation-categories,
.breadcrumbs{
	list-style:none;
}
.header-buy a {
	color: #ffffff;
}
.header-buy-item a {
  width: 150px;
  height: 42px;
  background-color: #293449;
}
.header-buy-item a:hover,
.header-buy-item a:focus {
	background-color:#212a3a;
}
.header-buy-item a:active {
	background-color: #161d29;
}

.header-buy-order a {
    font-size: 17px;
	font-weight: normal;
	font-style: normal;
	line-height: 18px;

	width:150px;
	height:42px;
	background-color: #63a63e;

	text-align:center;
	text-transform: none;
}
.header-buy-order a:hover,
.header-buy-order a:focus {
	background-color: #5fbb2d;
}
.header-buy-order a:focus {
	background-color: #518534;
}
.header-middle {
	background-color: #F3F7F9;
}

.header-caption {
	font-size:16px;
	font-weight:normal;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;

	text-transform: none;
}

.header-number {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height:21px;
  color: #ee3643;
}
.header-address {
	font-size: 14px;
	font-weight: normal;
  	font-style: normal;
  	line-height: 24px;
	color:#32425c;

	text-transform: none;
}
.login {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;

  text-transform: none;
}
.login:hover {
	color: #ee3643;
}
.login:active {
	color: rgba(0, 0, 0, 0.3);
}
.login-link {
	width: 121px;
	height: 45px;
	background-color: #ffffff;
}
.login-registration {
	width: 150px;
	height: 45px;
	background-color: #ffffff;
}
.site-navigation {
	background-color:  #32425c;
	box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation-list a {
	font-size:17px;
	font-weight: normal;
  	font-style: normal;
  	line-height:17px;
	color: #ffffff;

	text-transform: none;

}
.site-navigation-list a:hover{
	background-color:#212a3a;
}
.site-navigation-list a:active {
	background-color: #1d2739;
}

.categories-navigation p {
  font-family: Cuprum;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #ffffff;
}
.categories-navigation a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.categories-item {
	width: 300px;
	height: 123px;
}

.categories-button {
  background-color: rgb(0,0,0,0.1);
}
.categories-button:hover {
	background-color: rgb(0,0,0,0.2);
}
.categories-button:active {
	background-color: rgb(0,0,0,0.3);
}
.categories-materials {
	background-color: #ffbf47;
}
.categories-instrument {
  background-color: #3bbce3;
}
.categories-technique {
  background-color: #dc91d8;
}
.slider h3 {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  line-height: 36px;
  color: #ffffff;
}
.slider p{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;

  text-transform: none;
}
.slider a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  width: 195px;
  height: 38px;
  background-color: #ee3643;
}
.red-button:hover,
.red-button:focus {
	background-color: #ca2c37;
} 
.red-button:active {
	background-color: #ba2732;
}

.slide-first {
  width: 620px;
  height: 266px;
  background-color: #685C52;
  background-image: url(../img/slider1.jpg);
  background-repeat: no-repeat;
}
.slide-second {
  width: 620px;
  height: 266px;
  background-color: #685C52;
  background-image: url("../img/slider2.jpg");
  background-repeat: no-repeat;
}
.slide-button {

}
.categories-discount {
  background-color: #8ed78f;
}
.categories-delivery {
  background-color: #ffc047;
}
.popular-block {
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}
.popular-block h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #32425c;
}
.popular-button {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;
	
  width: 253px;
  height: 38px;
  background-color: #ee3643;
}
.products-item {
  width: 220px;
  height: 318px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
}
.products-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.products-name {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  text-transform: none;
}
.old-price {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 18px;
  color: #a9a9a9;

  text-decoration: line-through;
}
.price-current {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  color: #ffffff;
}
.products-price {
	text-align: center;
	width: 141px;
    height: 38px;
  	object-fit: contain;
	background-image: url("../img/svg/red-button.svg");
	background-repeat: no-repeat;
}
.producers-icon a {
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
}
.producers-icon a:hover,
.producers-icon a:focus {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	border:0;
}
.producers-icon a:active {
	 box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	 border:0;
}
.producers-icon img:active {
	opacity:0.3;
}
.service {
  background-color: #F5F9FA;
}
.service h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #000000;
}
.service p {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  text-transform: none;
}
.service-list li {
  color: #ffffff;

  width: 240px;
  height: 61px;
  background-color: #32425c;
  box-shadow: inset 0px -1px 0 0 #33445a;
}
.service-list li:hover,
.service-list li:focus {
	background-color: #293449;
}
.service h3 {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
}
.service-application {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  width: 195px;
  height: 38px;
  background-color: #ff5357;
}
.technomart-about h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}
.technomart-about p {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  text-transform: none;
}
.transport-company li {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: #000000;

  text-transform: none;
}
.about-button {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  width: 220px;
  height: 38px;
  background-color: #ee3643;
}
.address h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.address p {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;
  color: #000000;

  text-transform: none;
}
.address-contact {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  width: 300px;
  height: 38px;
  background-color: #ee3643;
}
.footer-navigation {
	background-color: #32425c;
}
.footer-navigation-logo {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.footer-navigation p,
.footer-navigation-number {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-navigation-list a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #f3f7f9;

  text-transform: none;
}
.footer-navigation-list a:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}
.footer-navigation-categories a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #ffd180;

  text-transform: none;
}
.footer-navigation-categories a:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}
.footer-line a:hover {
	text-decoration: underline;
}
.footer {
background-color: #293449;
}
.footer p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  text-transform: none;
}
.footer-social a {
  color: #ffffff;

  width: 42px;
  height: 42px;
  background-color: #212a3a;		
}
.footer p a {
	color: #ffd180;
}
.footer p a:active {
	color: #ee3643;
}
.modal-feedback {
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}
.modal-feedback label {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  text-transform: none;
}
.feedback-field {
	 border: solid 2px #d7dcde;
}
.feedback-field:hover {
	border: solid 2px #b5b5b5;
}
.feedback-field:focus {
	 border: solid 2px #ee3643;
}
.feedback-submit {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  width: 460px;
  height: 38px;
  background-color: #ee3643;
}
.modal-bookmarks {
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}
.modal-bookmarks p {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #000000;
}
.grey {
	width: 620px;
  	height: 112px;
	background-color: #f1f1f1;
}
.bookmarks-checkout {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  width: 220px;
  height: 38px;
  background-color: #ee3643;
}
.bookmarks-continue {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  width: 220px;
  height: 38px;
  background-color: #ffffff;
}

/*Уникальные стили каталога*/
.header-user {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  color: #000000;

  width: 299px;
  height: 45px;
  background-color: #ffffff;

  text-transform: none;
}
.header-user:active {
	 color: rgba(0, 0, 0, 0.3);
}
.header-user-2 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #32425c;

  text-transform: none;
  text-decoration: underline;
}
.header-user-2:hover,
.header-user-2:focus {
	color: #ee3643;
}
.header-user-2:active {
	color: rgba(50, 66, 92, 0.3);
}
.breadcrumbs li,
.breadcrumbs a {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;
}
main ul+h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #32425c;

  background-color: #f2f6f8;
}
.sorting-block {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
}
.sorting-price legend {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #000000;
}
.sorting-brand legend {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #000000;
}
.sorting-brand label {
  font-family: PTSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: #000000;
}
.sorting-choose legend {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #000000;
}
.sorting-choose label {
  font-family: PTSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: #000000;
}
.sorting button:last-of-type {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;
}
.more-sorting {
	background-color: #f7f3ec;
}
.more-sorting p {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;
}
.more-sorting a {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  text-decoration: underline;
}
.more-sorting a:hover {
	color: #000000;
}
.more-sorting a:active {
	color: #ee3643;
}
.products-buy a:nth-child(1) {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  width: 135px;
  height: 38px;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}
.products-buy a:nth-child(1):hover {
	 background-color: #5fbb2d;
}
.products-buy a:nth-child(1):active {
	background-color: #518534;
}
.products-buy a:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #32425c;

  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
}
.products-buy a:nth-child(2):hover {
	border: solid 3px #32425c;
}
.products-buy a:nth-child(2):active {
	color: rgba(50, 66, 92, 0.3);

	border: solid 3px rgb(50,66,92,0.3);
}
.pagination li a {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
}
.pagination li a:hover,
.pagination li a:focus {
	border: solid 1px #bdc6ca;
}
.pagination li a:active {
	border: solid 1px #ee3643;
}
.pagination-next li a {
  width: 140px;
  height: 38px;
}
.perforstors-about {
	background-color: #F3F7F9;
}
.perforators-about h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.perforators-about p {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  text-transform: none;
}


