body {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
	width:940px;
	padding-left: 42px;
	padding-right: 42px;
	margin:auto;
}
.header {
	color: #ffffff;
	background-color: #F3F7F9;
	width:100%;
	padding-bottom:60px;
	margin-bottom:59px;
}
.header-top {
	background-color:#293449;
	padding:0;
	width:100%;
	margin-bottom:45px;
}
.header-top-container {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	min-heght:42px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.logo-search-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header-logo {
	font-size: 25px;
  	font-weight: normal;
    font-style: normal;
	line-height: 18px;
	color:#ffffff;

	background-color:  #ee3643;
	position: relative;

	padding-left:52px;
	padding-right:52px;
	padding-top:14px;
	padding-bottom:12px;
}
.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}
.header-logo:active {
  background-color: #ba2732;
}
.header-logo::before {
	content: "";
	position: absolute;
	bottom:-5px;
	left:0;
	right: 0;

	height:5px;

	background-color: #8e2d2e;
}
.header-search {
	margin:0;
	padding:0px;
	padding-left: 0;


	position: relative;
} 
.header-search button {
	position:absolute;

	width:17px;
	height:17px;
	top:12px;
	left:7px;

	opacity:0.3;
	background-color: transparent;
	border:none;
}
.header-search input:hover + button {
	opacity: 1;
}
.header-search button:active {
	opacity: 0.5;
	outline: none;
}
.header-search input {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #ffffff;

  background-color:#293449;
  border:none;

  padding-left:44px;
  padding-top:13px;
  padding-bottom:13px;
  padding-right:65px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
.header-search input:active,
.header-search input:focus {
	background-color: #fff;
	outline: none;
}
.header-search input:focus,
.header-search input:active::-webkit-input-placeholder {
	color:#000;
}
.header-search input:active + button path,
.header-search input:focus + button path {
	fill:#ee3643;
}
.header-buy {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin:0;

	list-style:none;
	padding-left:0;
}
.header-buy a {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;
  text-transform: none;

  height:100%;
}
.header-buy-item  {
  background-color: #293449;
  display: block;
  padding-top:13px;
  padding-bottom: 13px;
  padding-left:45px;
  padding-right:25px;

  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-buy-item:hover,
.header-buy-item:focus {
	background-color:#212a3a;
}
.header-buy-item:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}
.header-buy-active {
  background-color: #ee3643;
}
.header-buy-bookmarks,
.header-buy-cart {
	position: relative;
}
.header-buy-bookmarks::before {
	content: "";
	position:absolute;
	background-image: url("../img/svg/icon-bookmark.svg");
	background-repeat: no-repeat;
	width:14px;
	height:16px;

	left:17px;
	top:14px;

	opacity:0.3;
}
.header-buy-cart::before {
	content: "";
	position:absolute;
	background-image: url("../img/svg/icon-cart.svg");
	background-repeat: no-repeat;
	width:15px;
	height:15px;

	left:17px;
	top:14px;

	opacity: 0.3;
}
.header-buy-bookmarks:hover::before,
.header-buy-cart:hover::before {
	opacity:1;
}
.header-buy-bookmarks:active::before,
.header-buy-cart:active::before {
	opacity:0.5;
}

.header-buy-order {
    font-size: 17px;
	font-weight: normal;
	font-style: normal;
	line-height: 18px;

	padding:13px 20px;
	background-color: #63a63e;
	display: block;

	width: 150px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	text-transform: none;
}
.header-buy-order:hover,
.header-buy-order:focus {
	background-color: #5fbb2d;
}
.header-buy-order:focus {
	background-color: #518534;
}
.header-middle {
	background-color: #F3F7F9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-bottom:37px;
}
.header-caption {
	font-size:16px;
	font-weight:normal;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;

	width: 196px;
  	margin:0;
  	padding-left: 53px;

	text-transform: none;
}
.header-contacts {
	width:300px;
	text-align: center; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column; 
}
.header-number {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height:21px;
  color: #ee3643;
	
  border: solid 3px #ffffff;
  padding:9px;
  padding-right:50px;
  padding-left:72px; 
  margin-bottom: 5px;
  text-align: left;

  position: relative;
}
.header-number::before {
	content: "";
	background-image: url("../img/svg/icon-phone.svg");
	background-repeat:no-repeat;

	width:19px;
	height:19px;
	position:absolute;
	top:12px;
	left:15px;
}
.header-address {
	font-size: 14px;
	font-weight: normal;
  	font-style: normal;
  	line-height: 24px;
	color:#32425c;

	margin:0;

	text-transform: none;
}
.header-middle-login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width:283px;
}
.header-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.login {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  color: #000000;

  text-transform: none;
  padding-top:13px;
  padding-bottom:11px;
  margin-bottom:10px;
}
.login:hover {
	color: #ee3643;
}
.login:active {
	color: rgba(0, 0, 0, 0.3);
}
.login-link {
	background-color: #ffffff;

	padding-left:14px;
	padding-right: 26px;
}
.login-link svg {
	margin-right:8px;
}
.login-link:hover path,
.login-link:focus path {
	fill:#2F405C;
}
.login-link:active path {
	fill: #c5c5c5;
}
.login-registration {
	background-color: #ffffff;
	padding-left:24px;
	padding-right:25px;
}
.site-navigation {
  	min-height: 60px;
	background-color:  #32425c;
	-webkit-box-shadow: inset 0px -5px 0 0 #293449;
	        box-shadow: inset 0px -5px 0 0 #293449;
	padding-left:0;
}
.site-navigation-list {
	padding:0 27px;
	margin:0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-pack: justify; 
	    -ms-flex-pack: justify; 
	        justify-content: space-between; 
	-ms-flex-wrap: wrap; 
	    flex-wrap: wrap;

	list-style: none;
}
.site-navigation-list li {
	margin: 0;
}
.site-navigation-list a {
	font-size:17px;
	font-weight: normal;
  	font-style: normal;
  	line-height:60px;
  	vertical-align: middle;
	color: #ffffff;

	margin: 0;
	text-transform: none;
	padding-top:19px;
	padding-bottom:21px;
	padding-right:28px;
	padding-left: 28px;
}
.site-navigation-list a:hover{
	background-color:#212a3a;
	height:55px;
}
.site-navigation-list a:active {
	background-color: #1d2739;
}
.categories {
	margin-bottom:53px;

}
.categories-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin:0;

	list-style: none;
}
.categories-navigation-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	margin: 0;

	list-style: none;
}
.categories-navigation p {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #ffffff;

  margin:0;

  text-transform: none;
}
.categories-button {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  
  display: block;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;

  padding-top:11px;
  padding-bottom: 9px;
  margin-left:1px;
  max-width:135px;
}
.categories-button:hover,
.categories-button:focus {
	background-color: rgba(0,0,0,0.2);
	outline: none;
}
.categories-button:active {
	background-color: rgba(0,0,0,0.3);
}
.categories-item {
	width: 300px;
	margin-bottom: 20px;
	padding:23px;
	padding-top:20px;
	padding-bottom:21px;

	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
}
.categories-item:last-of-type {
	margin-bottom: 0;
}
.categories-item p {
	margin-bottom:12px;
	max-width:190px;
}
.categories-materials {
	background-color: #ffbf47;
}
.categories-materials::after{
	content: "";
	background-image: url("../img/svg/icon-1.svg");
	background-repeat:no-repeat;
	position:absolute;

	width:44px;
	height:65px;
	right:43px;
	top:31px;
}
.categories-instrument {
  background-color: #3bbce3;
}
.categories-instrument::before {
	content: "";
	background-image: url("../img/svg/icon-2.svg");
	background-repeat: no-repeat;
	position:absolute;

	width:75px;
	height:61px;
	top:33px;
	right:28px;
}
.categories-technique {
  background-color: #dc91d8;
}
.categories-technique::before {
	content: "";
	background-image: url("../img/svg/icon-3.svg");
	background-repeat: no-repeat;
	position: absolute;

	width:78px;
	height:62px; 
	top:31px;
	right:31px;
}
.slider {
	width: 620px;
	position: relative;
}
.slider::before {
	content: "";
	position: absolute;

	width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;

    bottom:35px;
    left:295px;
}
.slider::after {
	content: "";
	position: absolute;

	width: 5px;
    height: 5px;
    border:solid 3px #fff;
    border-radius: 50%;
    background-color: #ee3643;

    bottom:35px;
    left:314px;
}
.slide-switch {
	position: absolute;

	width:28px;
	height:28px;
	background-color: transparent;
	border:none;
	border-left:3px solid #fff;
	border-bottom: 3px solid #fff;

	cursor: pointer;
	outline: none;
}
.slide-left {
	left:30px;
	top:50%;
	margin-top:-15px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.slide-right {
	right:26px;
	top:50%;
	margin-top:-15px;

	-webkit-transform: rotate(225deg);

	    -ms-transform: rotate(225deg);

	        transform: rotate(225deg);
}
.slider h3 {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  line-height: 36px;
  color: #ffffff;

  margin:0;
  margin-bottom:2px;
}
.slider p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;

  text-transform: none;
}
.slider-text {
	margin-left:24px;
	padding-top:23px;
}
.slide-button {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
  color: #ffffff;

  background-color: #ee3643;
  padding-left:48px;
  padding-right:48px;
  margin-bottom:22px;
  margin-left:25px;
}
.slide-first {
  width: 620px;
  height: 263px;

  background-color: #685C52;
  background-image: url("../img/slider2.jpg");
  background-repeat: no-repeat;
  background-position:center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-bottom:;
}
.slide-second {
  width: 620px;
  height: 263px;
  background-color: #685C52;
  background-image: url(../img/slider1.jpg);
  background-repeat: no-repeat;
  background-position:center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide-hidden {
	 display: none;
}
.red-button {
  background-color: #ee3643;
  padding-top: 12px;
  padding-bottom:12px;
  border-radius:4px;
}
.red-button:hover,
.red-button:focus {
	background-color: #ca2c37;
} 
.red-button:active {
	background-color: #ba2732;
}
.categories-discount {
  background-color: #8ed78f;
}
.categories-discount::before {
	content: "";
	background-image: url("../img/svg/icon-4.svg");
	background-repeat:no-repeat;
	position: absolute;

	width:59px;
	height:72px;
	top:26px;
	right:45px;
}
.categories-delivery {
  background-color: #ffc047;
}
.categories-delivery::before {
	content: "";
	background-image: url("../img/svg/icon-5.svg");
	background-repeat: no-repeat;
	position: absolute;

	width:78px;
	height:63px;
	top:32px;
	right:31px;
}
.popular-block {
  min-height: 89px;
  background-color: #f9f5f0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-left:26px;
  padding-right: 24px;
  margin-bottom: 20px;
}
.popular-block h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #32425c;

  padding-right:200px;
}
.popular-button {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;

  padding-left:55px;
  padding-right: 55px;
}
.products-catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding:0;
	margin:0;

	list-style: none;
}
.new-flag::before {
	content: "";
	background-image: url("../img/new-flag-copy.png");
	background-repeat: no-repeat;

	position: absolute;
	top:0;
	right:0;

	width:60px;
	height: 60px;
}
.products-item {
  width: 218px;
  min-height: 318px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;

  margin-bottom: 20px;
}
.products-item:hover {
	-webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
	        box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.products-item:hover .products-img {
	visibility: hidden;
}
.products-item:hover .products-buy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.products-img {
	min-height:164px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	padding-right: 17px;
}
.img-bosch9000 {
	padding-left:18px;
	
}
.products-img img {
	margin: auto;
	margin-top:40px;
}
.products-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	height:100%;

	padding: 20px 10px;
	padding-top: 15px;
}
.products-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  color: #000000;

  -ms-flex-item-align: stretch;

      -ms-grid-row-align: stretch;

      align-self: stretch;

  text-transform: none;

  margin:0;
  margin-bottom: auto;
}
.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 18px;
  color: #a9a9a9;

  text-decoration: line-through;

  margin-bottom: 10px;
}
.price-current {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #ffffff;

  text-align: center;
  width: 141px;
  height: 38px;
  background-image: url("../img/svg/red-button.svg");
  background-repeat: no-repeat;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products-buy {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	position:absolute;
	top:44px;
	left:43px;
}
.products-buy-button {
	width:135px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 3px;

	margin-bottom:7px;
}
.products-buy a:nth-child(1) {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  padding-top:14px;
  padding-bottom:14px;
  padding-left:49px;
  padding-right:49px;

  background-color: #63a63e;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;

  position: relative;
}
.products-buy a:nth-child(1):hover {
	 background-color: #5fbb2d;
}
.products-buy a:nth-child(1):active {
	background-color: #518534;
}
.products-buy a:nth-child(1)::before {
	content: "";
	background-image: url("../img/svg/icon-cart.svg");
	background-repeat: no-repeat;

	position: absolute;

	top:14px;
	left:15px;

	width:15px;
	height:15px;
	opacity: 0.3;
}
.products-buy a:nth-child(1):hover::before {
	opacity:1;
}
.bookmarks-button {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #32425c;

  padding-top:11px;
  padding-bottom:11px;
  padding-left:30px;
  padding-right: 30px;

  border: solid 3px #63a63e;
}
.bookmarks-button:hover {
	border: solid 3px #32425c;
}
.bookmarks-button:active {
	color: rgba(50, 66, 92, 0.3);

	border: solid 3px rgb(50,66,92,0.3);
}
.all-producers {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;

  padding-left:69px;
  padding-right: 70px;
}
.producers-catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding:0;
	max-width:940px;
	margin-bottom:65px;

	list-style: none;
}
.producers-icon {
	width:220px;
	margin-bottom: 20px;

	min-height: 145px;
}
.producers-icon a {
  height: 100%;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.producers-icon a:hover,
.producers-icon a:focus {
	-webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	        box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.producers-icon a:active {
	 -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	         box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.producers-icon img {
	margin: auto;
}
.producers-icon img:active {
	opacity:0.3;
}
.service {
  background-color: #F5F9FA;
  margin-bottom:79px;
  width:100%;
  padding-bottom:100px;
  padding-top:66px;
}
.service h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #000000;

  margin-top:0;
}
.service h2+p {
  width: 400px;
  margin-bottom:68px;
}
.service p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-align: left;
  color: #000000;

  text-transform: none;
}
.service-container {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:start;
	    -ms-flex-align:start;
	        align-items:flex-start;
	min-height:130px;
	position: relative;
}
.service-container::after {
	content: "";
	background-image: url("../img/stick-shadow.png");
	background-repeat: no-repeat;
	position:absolute;

	width:10px;
	height:279px;
	left:229px;
	top:-43px;
}
.service-list {
	padding:0;
	margin:0;

	list-style: none;
}
.service-list li {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  color: #ffffff;

  padding-left:22px;
  padding-right:138px;
  padding-top:14px;
  padding-bottom:17px;

  background-color: #32425c;
  -webkit-box-shadow: inset 0px -1px 0 0 #33445a;
          box-shadow: inset 0px -1px 0 0 #33445a;
  border-bottom:1px solid #4C627C;
  text-transform: none;
}
.service-list li:not(.service-active):hover,
.service-list li:not(.service-active):focus {
	background-color: #293449;
}
.service-list .service-active {
	background-color: #fff;
	color:#32425c;
}
.service h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;
  color: #32425c;
  margin-top:0;
  margin-bottom: 25px;
  padding-to:20px;
}
.service-1 {
	padding-right:345px;

	width: 274px;

	position:relative;
	display: block;
}
.service-1::before {
	content: "";
	background-image: url("../img/truck.png");
	background-repeat: no-repeat;
	position:absolute;

	width:468px;
	height:261px;
	right:0;
	top:20px;
}
.service-2 {
	width:385px;
	padding-right:235px;
  	display: none;
  	position: relative;
}
.service-2::before {
	content: "";
	background-image: url("../img/medal.png");
	background-repeat: no-repeat;
	position:absolute;

	width:389px;
	height:283px;
	right:0;
	top:0;
}
.service-3 {
	width:300px;
	padding-right:320px;

	display:none;
	position: relative;
}
.service-3 p {
	margin-bottom:30px;
}
.service-3::before {
	content: "";
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
	position:absolute;

	width:465px;
	height:285px;
	right:0;
	top:0;
}
.service-application {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
  color: #ffffff;

  background-color: #ff5357;
  padding-left:45px;
  padding-right:45px;
}
.container-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:stretch;
	    -ms-flex-align:stretch;
	        align-items:stretch;
	margin-bottom: 84px;
}
.technomart-about {
  	width:540px;
}
.technomart-about h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  margin:0;
  margin-bottom:27px;
}
.technomart-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  margin:0;
  margin-bottom:25px;

  text-transform: none;
}
.technomart-about p:nth-of-type(2) {
	width:400px;
}
.transport-company {
	padding: 0;
	margin-top:-5px;
	margin-bottom: 45px;
	list-style-type: none;
}
.transport-company li {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #000000;

  margin-bottom: 15px;
  padding-left:37px;

  text-transform: none;
  
  position: relative;
}
.transport-company li::before {
	content: "";

	height:2px;
	width:25px;
	background-color:#ee3643;
	position: absolute;

	left:0;
	top:50%;
}
.about-button {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  padding-left:40px;
  padding-right:40px;
  padding-top:11px;
  padding-bottom:11px;
  background-color: #ee3643;
}
.address {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.address h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  margin:0;
  margin-bottom:25px;
}
.address p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;
  color: #000000;

  margin:0;
  margin-bottom:34px;

  width:190px;

  text-transform: none;
}
.address p+a {
	margin-bottom: 33px;
}
.address-contact {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
  color: #ffffff;

  padding-left:63px;
  padding-right:53px;
  background-color: #ee3643;
}
.footer-navigation {
	background-color: #32425c;
	margin-bottom:0;
    padding-bottom:50px;

	width:100%;
}
.footer-container {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	margin-bottom: 28px;
}
.footer-navigation-logo {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #fff;

  padding-left:41px;
  padding-right:41px;
  padding-top:18px;
  padding-bottom: 20px;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.footer-navigation-logo:hover,
.footer-navigation-logo:focus {
	background-color: #ca2c37;
}
.footer-navigation-logo:active {
  background-color: #ba2732;
}
.footer-navigation p,
.footer-navigation-number {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-navigation-list {
	width:547px;
	margin-top: 38px;
	margin-bottom:0;
	padding:0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	list-style: none;
}
.footer-navigation-list a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #f3f7f9;

  text-transform: none;
  margin-bottom:43px;
}
.footer-navigation-list a:hover {
	text-decoration: underline;
}
.footer-navigation-list a:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}
.footer-container-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-container-2 p {
	text-transform: none;
	padding: 0;
	margin: 0;
	width:325px;
}
.footer-navigation-categories {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width:527px;
	padding:0;
	margin:0;

	list-style: none;
}
.footer-navigation-categories a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #ffd180;

  text-transform: none;
}
.footer-navigation-categories li+li {
	margin-left:50px;
}
.footer-navigation-categories a:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}
.footer-line a:hover {
	text-decoration: underline;
}
.footer {
	background-color: #293449;
	width:100%;
	margin-top: 0;
	padding-bottom:30px;
	padding-top:35px;
}
.footer-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-align: center; 
	    -ms-flex-align: center; 
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.footer-flex p:first-of-type {
	width: 230px;
}
.footer p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  text-transform: none;
  margin:0;
}
.footer-social {
	min-width:130px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding:0;
	padding-left:30px;
	margin:0;

	list-style: none;
}
.footer-social-button {
  font-size:0;
  color: #ffffff;
  border-radius:50%;

  width: 42px;
  height: 42px;
  background-color: #212a3a;
  display: block;
  margin-left:4px;

  position:relative;		
}
.footer-social-button:hover,
.footer-social-button:focus,
.footer-social-button:active {
	background-color: #ee3643;
}
.button-vk::before {
	content: "";
	background-image: url("../img/svg/icon-vk.svg");
	background-repeat:no-repeat;
	position: absolute;

	width:26px;
	height:15px;
	top:13px;
	left:7px;
}
.button-fb::before {
	content: "";
	background-image: url("../img/svg/icon-fb.svg");
	background-repeat:no-repeat;
	position: absolute;

	width:12px;
	height:22px;
	top:10px;
	left:14px;
}
.button-inst::before {
	content: "";
	background-image: url("../img/svg/icon-insta.svg");
	background-repeat:no-repeat;
	position: absolute;

	width:21px;
	height:21px;
	top:10px;
	left:10.5px;
}
.footer-creators {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width:285px;

	padding-right:10px;
}
.footer p a {
	color: #ffd180;
}
.footer p a:active {
	color: #ee3643;
}
.modal {
	position: fixed;

	-webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);

	        box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	background-color: #ffffff;
	border-top: 7px solid #FF5257;

	display: none;
}
.modal-show {
	display: block;

	-webkit-animation: bounce 0.6s;

	        animation: bounce 0.6s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal-feedback {
  width: 620px;

  margin-left:-310px;

  top:25%;
  left:50%;

  -webkit-box-sizing:border-box;

          box-sizing:border-box;
}
input[type="text"].feedback-field::-webkit-input-placeholder,
input[type="email"].feedback-field::-webkit-input-placeholder,
textarea.feedback-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a9a9a9;
}
input[type="text"].feedback-field::-moz-placeholder,
 input[type="email"].feedback-field::-moz-placeholder,
 textarea.feedback-field::-moz-placeholder { /* Firefox 19+ */
  color: #a9a9a9;
}
input[type="text"].feedback-field:-ms-input-placeholder,
input[type="email"].feedback-field:-ms-input-placeholder,
textarea.feedback-field:-ms-input-placeholder { /* IE 10+ */
  color: #a9a9a9;
}
input[type="text"].feedback-field:-moz-placeholder,
input[type="email"].feedback-field:-moz-placeholder,
textarea.feedback-field:-moz-placeholder { /* Firefox 18- */
  color: #a9a9a9;
}
.modal-close {
	position: absolute;
	top:7px;
	right:7px;

	width:21px;
	height:21px;

	border: 0;
	background-color: transparent;
	outline: none;

	cursor: pointer;
	z-index: 2;
}
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top:7px;
  right:-2px;

  width: 21px;
  height: 4px;

  background-color: #ee3643;
}
.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-feedback label {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  text-transform: none;
}
.modal-feedback label span {
	margin-bottom:11px;
}
.feedback-field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #a9a9a9;

  border: solid 2px #d7dcde;
  background-color:#ffffff;
}
.feedback-field:hover {
	border: solid 2px #b5b5b5;
}
.feedback-field:focus {
	 border: solid 2px #ee3643;
	 outline: none;
}
.feedback-name,
.feedback-mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width:220px;

  padding-left: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom:11px;
}
.feedback-wrap {
	padding-top:48px;
  	padding-left:80px;
  	padding-right:80px;

  	margin-bottom:37px;
}
.feedback-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-bottom: 22px;
}
.feedback-text {
	padding-left: 16px;
	padding-top: 9px;
	padding-right:20px;
	padding-bottom:9px;
}
.feedback-submit-wrap {
	width:100%;
	padding:37px 80px;

	background-color:#f4f4f4;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}
.feedback-submit {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
  border:0;

  padding: 12px 198px;
}
.modal-bookmarks {
  width: 620px;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);

  top:25%;
  left:50%;
  margin-left:-310px;
}
.modal-bookmarks p {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #000000;

  text-transform: none;

  margin:0;
  margin-bottom:68px;
  padding-left:179px;
  padding-top:68px;

  position: relative;
}
.modal-bookmarks::before {
	content: "";
	background-image: url("../img/svg/icon-check.svg");
	background-repeat: no-repeat;
	position: absolute;

	width: 66px;
	height: 66px;
	top:48px;
	left:81px;
}
.grey {
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	padding-top:37px;
	padding-bottom:37px;
	padding-left:80px;
	background-color: #f1f1f1;
}
.bookmarks-checkout {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;

  padding-left:59px;
  padding-right:62px;
  padding-bottom:;
}
.bookmarks-continue {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  padding-top:12px;
  padding-bottom:10px;
  padding-left:44px;
  padding-right:48px;
  margin-left:20px;
}
.bookmarks-continue:hover,
.bookmarks-continue:focus {
	color: #ee3643;
}
.bookmarks-continue:active {
	color: rgba(0, 0, 0, 0.3);
}
.modal-map {
	width:940px;
	height:446px;
	margin-top: -223px;
	margin-left:-470px;

	top:50%;
	left:50%;
}
.modal-map div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}
.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}



/*Уникальные стили каталога*/
.header-catalog {
	margin-bottom:20px;
}
.header-middle-login-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	position: relative;
}
.header-contacts-2 {
	padding-left: 15px;
}
.header-user {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
  padding-left:13px;
  padding-right:66px;
  padding-top:12px;
  padding-bottom:11px;
  margin-bottom: 5px;

  text-transform: none;

  position:relative;
}
.header-user:hover path,
.header-user:focus path {
	fill:#2F405C;
}
.header-user:active path {
	fill:#c5c5c5;
}
.header-user:active {
	 color: rgba(0, 0, 0, 0.3);
}
.header-user span {
	margin-left: 10px;
}
.header-logout {
	position: absolute;

	width:21px;
	height: 17px;
	
	top:14px;
	right:10px;
}
.header-logout:hover path,
.header-logout:focus path {
	fill:#2F405C;
}
.header-logout:active path {
	fill:#c5c5c5;
}
.header-navigation {
	padding:0;
	padding-left:20px;
	margin:0;

	list-style-type: none;

	position: relative;
}
.header-navigation::before {
	content: "";

	width:5px;
	height:5px;

	border-radius:50%;
	background-color: #32425c;

	top:10px;
	left:107px;
	position: absolute;
}
.header-navigation a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #32425c;

  margin-right:30px;

  text-transform: none;
  text-decoration: underline;
}
.header-navigation a:hover,
.header-navigation a:focus  {
	color:#ee3643;
}
.header-navigation a:active {
	color:#c5c5c5;
}
.breadcrumbs {
	min-width:400px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	padding: 0;
	margin:0;
	margin-bottom:20px;

	list-style: none;
}
.breadcrumbs li,
.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

} 
.breadcrumbs li:not(:first-child) {
	padding-left:40px;
	position: relative;
}
.breadcrumbs li:not(:first-child)::before {
	content: "";

	position: absolute;
	left:15px;
	top:2px;

	width:7px;
	height:7px;
	border-bottom: 2px solid #C0C5CD;
	border-left:2px solid #C0C5CD;

	-webkit-transform: rotate(225deg);

	    -ms-transform: rotate(225deg);

	        transform: rotate(225deg);
}
main ul+h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 89px;
  color: #32425c;

  background-color: #f2f6f8;

  width: 940px;
  height: 89px;
  padding-left:28px;
  margin:0;
  margin-bottom:20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  vertical-align: middle;
}
.sorting-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom:19px;
}
.sorting-block {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 38px;
  color: #000000;

  background-color: #f7f3ec;
  margin:0;
  margin-right: 20px;
  min-width: 202px;
  min-height: 38px;
  padding-left:18px;
  vertical-align: middle;
}
.more-sorting {
  background-color: #f7f3ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 700px;
  min-height: 38px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-left:20px;
  padding-right:17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.more-sorting-inner {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: start;
 	    -ms-flex-pack: start;
 	        justify-content: flex-start;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	-webkit-box-pack: justify;
 	    -ms-flex-pack: justify;
 	        justify-content: space-between;
 	-ms-flex-wrap: wrap;
 	    flex-wrap: wrap;

 	margin-left:auto;

 	width:443px;
}
.more-sorting-inner > a:nth-child(3) {
	margin-right:-23px;
}
.more-sorting-inner > a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.more-sorting-inner > a:not(.more-sorting-active) {
  background: -webkit-gradient(linear,  left top, right top,  from(#ee3643),  color-stop(50%, #ee3643), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left,  #ee3643,  #ee3643 50%, transparent 50%);
  background: -o-linear-gradient(left,  #ee3643,  #ee3643 50%, transparent 50%);
  background: linear-gradient(to right,  #ee3643,  #ee3643 50%, transparent 50%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 3px 1px;
}
.more-sorting-inner > a:hover {
	color: #000000;

	background: -webkit-gradient(linear, left top, right top, from(#ee3643), to(#ee3643));

	background: -webkit-linear-gradient(left, #ee3643, #ee3643 100%);

	background: -o-linear-gradient(left, #ee3643, #ee3643 100%);

	background: linear-gradient(to right, #ee3643, #ee3643 100%);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}
.more-sorting a:active {
	color: #ee3643;
}
.more-sorting-inner .more-sorting-active {
	color:#ee3643;
	fill:#ee3643;
}
.more-sorting-lift {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;

 	width:42px;

 	margin-let:45px;
}
.more-sorting-lift a:first-child {
	padding-top:2px;
}
.more-sorting-lift a:nth-ohild(2) {
	padding-top:2px;
}
.more-sorting p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height:18px;
  color: #000000;

  margin: 0;
}
.more-sorting-lift path {
	fill: #c5c5c5;
}
.more-sorting-lift path:hover,
.more-sorting-lift path:focus {
	fill: #1E191A;
}
.main-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.form-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start; 
	margin-right:20px;
}
.filter-price {
	width:220px;
	margin:0;
	margin-bottom:42px;

	position: relative;
}
.filter-price::before {
	content: "";
	position: absolute;

	width:220px;
	height: 1px;

	left:0;
	bottom:-27px;

	background-color: #e5e5e5;
}
.filter-price-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 17px;
  color: #000000;

  margin-bottom:18px;
}
.filter-price-range {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin-bottom:9px;

	width:220px;
	height:80px;

	background-color: #f7f3ec;
}
.scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}
.bar {
  width: 152px;
  height: 2px;

  background-color: #00CB75;
}
.range-toggle {
  position: absolute;

  width: 3px;
  height: 3px;

  background-color:#ACACAC;
  border: 9px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  z-index: 3;

  top:30px;
}
.range-toggle:hover {
	background-color:#00CB75; 
}
.range-toggle-min {
	left:20px;
}
.range-toggle-max {
	right:40px;
}
.filter-price-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height:38px;

	position: relative;
}
.filter-price-controls::before {
	content: "";
	position: absolute;
	top:50%;
	left:105px;

	width:10px;
	height: 1px;

	background-color: #000;
}
.filter-price-controls input {
	font-family: "PT Sans", Arial, sans-serif;
  	font-size: 17px;
  	font-weight: normal;
  	font-style: normal;
  	line-height: 18px;
  	text-align: center;
  	color: #000000;

	height:100%;
	width:95px;

	border:none;
	background-color: #f7f3ec;
}
.sorting-brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;

	margin-bottom:18px;
	padding-left:0;
	padding-top:0;

	width:195px;
    border:0;
}
.sorting-brand::before {
	content: "";
	position: absolute;

	width:220px;
	height: 1px;

	left:0;
	bottom:4px;

	background-color: #e5e5e5;
}
.sorting-choose {
	border:0;
	padding-left:0;
}
.sorting-brand legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #000000;

  margin-bottom: 15px; 
}
.sorting-brand label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: #000000;

  margin-bottom:20px;
  padding-left:35px;

  position:relative;
  cursor:pointer;
}
.sorting-brand input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	left:0;
	top:-2px;

	background-image: url("../img/svg/checkbox-off.svg");
	background-repeat: no-repeat;
	background-size: contain;

	width:22px;
	height:22px;
	opacity: 0.7;
}
.sorting-brand input[type="checkbox"]:hover + .checkbox-indicator {
	opacity:1;
}
.sorting-brand input[type="checkbox"]:focus + .checkbox-indicator {
	outline: 2px solid #A2C2F5;
}
.sorting-brand input[type="checkbox"]:checked + .checkbox-indicator {

	background-image: url("../img/svg/checkbox-on.svg");
	background-repeat: no-repeat;
	background-size: contain;

	position: absolute;

	width:25px;
	height:25px;
	top:-2px;
	left:0;
}
.sorting-choose {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin-bottom:60px;
	padding-left: 0;
	padding-top:0;
	padding-bottom:0;
}
.sorting-choose legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #000000;

  margin-bottom: 20px;
}
.sorting-choose label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: #000000;

  margin-bottom:18px;
  padding-left:35px;

  position:relative;
  cursor:pointer;
}
.radiobutton-indicator {
	position: absolute;

	background-image: url("../img/svg/radio-off.svg");
	background-size: contain;
	background-repeat: no-repeat;

	width:25px;
	height: 25px;

	top:-2px;
	left:0;
	opacity: 0.7;
}
.sorting-choose input[type="radio"]:hover + .radiobutton-indicator {
	opacity: 1;
}
.sorting-choose input[type="radio"]:focus + .radiobutton-indicator {
	outline:2px solid #A2C2F5;
}
.sorting-choose input[type="radio"]:checked + .radiobutton-indicator {
	position: absolute;

	background-image: url("../img/svg/radio-on.svg");
	background-repeat: no-repeat;
	background-size: contain;

	width:25px;
	height: 25px;

	top:-2px;
	left:0;
}
.form-container .indicator-disabled {
	opacity:0.4;
	cursor:not-allowed;
}
.form-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  padding-left:39px;
  padding-top:9px;
  padding-right:39px;
  padding-bottom:9px;

  background-color: #fff;
  border: solid 1px #e5e5e5;

  cursor: pointer;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;

	margin-bottom:60px;
	margin-left:200px;
	margin-top:25px;

	list-style: none;		
}
.pagination li {
	margin-right:10px;
}
.pagination a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #000000;

  border: solid 1px #e5e5e5;
  border-radius: 4px;

  display: block;
  padding: 10px 15px;
}
.pagination .pagination-active {
	color:#ffffff;
	background-color: #ee3643;
}
.pagination li a:hover,
.pagination li a:focus {
	border: solid 1px #bdc6ca;
}
.pagination li a:active {
	border: solid 1px #ee3643;
}
.pagination-next a {
  padding-left:30px;
  padding-right:30px;
}
.perforators-about {
	background-color:#f2f6f8;
	width:100%;

	padding-top: 64px;
	padding-bottom:69px;
}
.perforators-about-container {
	width: 940px;
    padding-left: 42px;
    padding-right: 42px;
    margin: auto;
}
.perforators-about h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #000000;

  margin:0;
  margin-bottom:25px;
}
.perforators-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  text-transform: none;

  margin:0;
}



